* {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    color: #003666;
}

main {
    border: 1px solid #003666;
    disp
}

#main-section {
    border: 1px solid #003666;
}


#map {
    border: 1px solid #003666;
    background-color: ;
}